

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: white;
}
.reset-password-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40%;
    min-width: 350px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: #5161ce;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
}

.reset-password-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.reset-password-box .user-box {
    position: relative;
}

.reset-password-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.reset-password-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.reset-password-box .user-box :focus ~ label,
.reset-password-box .user-box :valid ~ label {
    top: -20px;
    left: 0;
    color: #fff;
    font-size: 12px;
}

p{
    color:#7FFFD4;
    text-align: left;
    padding-left:10px;
    font-size: 12px;
}
.messages {
  font-size: 16px;
  color: red;
  text-align: center;
  margin-bottom: 20px;
}

.reset-password-box a input[type="submit"] {
    background-color: transparent;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    letter-spacing: 4px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

.reset-password-box form a {
    position: relative;
    display: block;
    margin: 0 auto;
    color: white;
    font-size: 16px;
    text-decoration: none;
    overflow: hidden;
    transition: .5s;
    letter-spacing: 4px;
}

.reset-password-box .button-container {
    display: flex;
    justify-content: center;
}

.reset-password-box .effect:hover {
    background: rgba(255, 255, 255, 0.5);
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px white, 0 0 25px white, 0 0 50px white, 0 0 100px white;
}

.reset-password-box a span {
    position: absolute;
    display: block;
}

.reset-password-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, white);
    animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }
    50%, 100% {
        left: 100%;
    }
}

.reset-password-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, white);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }
    50%, 100% {
        top: 100%;
    }
}

.reset-password-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, white);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }
    50%, 100% {
        right: 100%;
    }
}

.reset-password-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, white);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }
    50%, 100% {
        bottom: 100%;
    }
}
@media screen and (max-width: 992px) {
    .reset-password-box {
        top: 80%;
        width: 40%;
        transform: translate(-50%, -90%);
        overflow-y: auto;
    }
}
