{% extends 'homepage/base.html' %}
{% load static %}

{% block cssblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'homepage/styles/settings.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <form class ="edit-infor" action="{% url 'camera' %}" method="post" >
            <div class ="row">
                {% csrf_token %}
                <div class="col-lg-12 user">
                    <div class="row">
                        <div class = "col-lg-3"></div>
                        <div class = "col-lg-2 mx-left">
                            <div class ="user-box">
                                {% if request.user.is_active and request.user.is_staff %}
                                    <img class="rounded-circle" src="{% static 'homepage/images/admin.png' %}">
                                {% else %}
                                    <img class="rounded-circle" src="{% static 'homepage/images/staff.jpg' %}">
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <h1><b> {{ first_name }} {{ last_name }}</b> ({{ user }})
                                {% if request.user.is_active and request.user.is_staff %}
                                    <p ><b>Chức vụ:</b> Quản trị viên</p>
                                {% else %}
                                    <p><b>Chức vụ:</b> Nhân viên</p>
                            </h1>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="messages">
                        {% if messages %}
                            {% for message in messages %}
                                {% if message == "1" %}
                                    <div class="notice">success:Lưu thay đổi thành công!</div>
                                {% else %}
                                    <div class="notice">error:{{ message }}</div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="col-lg-12 camera">
                    <h2><b>CẤU HÌNH RTSP CAMERA</b></h2>
                    <div class="row">
                        <div class ="col-lg-12 check-connect">
                            <div id="loading" class="hidden"></div>
                            <div id="result"></div>
                        </div>
                        <div class ="col-lg-12">
                            <div class="camera-name">Camera cổng vào:</div>
                            <input class="form-control mx-auto" type="text" id="rtsp_url_input1" name="rtsp_in" value="{{ rtsp_in }}">
                            <div class="check">
                                <button class="custom-btn btn-5" id="rtsp_in"><span>Kiểm tra kết nối</span></button>
                            </div>
                        </div>
                        <div class ="col-lg-12">
                            <div class="camera-name">Camera cổng ra:</div>
                            <input class="form-control mx-auto" type="text" id="rtsp_url_input2" name="rtsp_out" value="{{ rtsp_out }}">
                            <div class="check">
                                <button class="custom-btn btn-5" id="rtsp_out"><span>Kiểm tra kết nối</span></button>
                            </div>
                        </div>
                        <div class ="col-lg-12">
                            <div class="camera-name">Camera khu vực đỗ xe:</div>
                            <input class="form-control mx-auto" type="text" id="rtsp_url_input3" name="rtsp_zone" value="{{ rtsp_zone }}">
                            <div class="check">
                                <button class="custom-btn btn-5" id="rtsp_zone"><span>Kiểm tra kết nối</span></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="button-container">
                        <a href="" class="effect submit-button">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <input type="submit" value ="Lưu thay đổi">
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block jsblock %}
    <script src ="{% static 'homepage/js/settings.js' %}"></script>
    <script>
        $(document).ready(function() {
            var loadingSpinner = $("#loading");
            $(".custom-btn").click(function() {
                var button = $(this);
                var rtspUrlInput = button.closest(".col-lg-12").find("input");
                var resultDiv = $("#result");
                var csrfToken = $("[name=csrfmiddlewaretoken]").val();
                var rtspUrl = rtspUrlInput.val();
                resultDiv.html("");
                loadingSpinner.removeClass("hidden");
                var buttonText = button.attr("id");
                var mess = "";
                if(buttonText === "rtsp_in"){
                    mess = "Camera cổng vào";
                }
                else if(buttonText === "rtsp_out"){
                    mess = "Camera cổng ra";
                }
                else{
                    mess = "Camera vùng đỗ xe";
                }
                if(resultDiv.hasClass("success")){
                        resultDiv.removeClass("success");
                }
                if(resultDiv.hasClass("error")){
                    resultDiv.removeClass("error")
                }
                $.ajax({
                    type: "POST",
                    url: "/check_connection/",
                    headers: { "X-CSRFToken": csrfToken },
                    data: {
                        'rtsp_url': rtspUrl
                    },
                    success: function(data) {
                        loadingSpinner.addClass("hidden");
                        if(data ==="success") {
                            var message = "Kết nối " + mess + " thành công!";
                            resultDiv.html(message).addClass("success");
                        }
                        else{
                            var message = "Kết nối " + mess + " thất bại!";
                            resultDiv.html(message).addClass("error");
                        }
                    },
                    error: function() {
                        loadingSpinner.addClass("hidden");
                        var message = "Đã xảy ra lỗi trong quá trình kết nối!";
                        resultDiv.html(message).addClass("error");
                    }
                });
                return false;
            });
        });
    </script>
{% endblock %}